.h-20 {
    height: 20%;
}


.h-30 {
    height: 30%;
}

.h-80 {
    height: 80%;
}

.h-87 {
    height: 87%;
}

.h-90 {
    height: 90%;
}

.w-90 {
    width: 90%;
}

.content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-stack-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temporary-margin {
    margin-top: 3rem;
}