@use "../global.scss" as g;

table {
    width: 100%;
    color: black;
    user-select: none;
    // border: 1px solid gray;
}

th {
    padding: 8px;
}

// td {
//     padding-left: 8px;
//     padding-right: 8px;
//     padding-top: 12px;
//     padding-bottom: 12px;
// }


td:hover {
    background-color: rgb(245, 245, 245);
    color: black;
}

td.no-hover:hover {
    background-color: transparent;
}

tr {
    // border-bottom: 1px solid gray;
    height: g.$table-row-height;
    background-color: #b5c7b9;
    transition: background-color 500ms cubic-bezier(0.39, 0.575, 0.565, 1);

    &.activePlayer {
        background-color: white;
    }
}

thead>tr {
    background-color: g.$color-primary!important;
    color: white;
}

table>tbody>tr>th:hover {
    background-color: rgb(245, 245, 245);
}

table>tbody>tr>th.no-hover:hover {
    background-color: transparent;
}

table>tbody>tr.activePlayer:hover {
    // background-color: g.$color-secondary!important;
    // color: white;
    border-bottom-width: 1px;
    border-bottom-color: g.$color-secondary!important;
    border-bottom-style: solid;
}