@use "../global.scss" as g;

table {
    width: 100%;
    color: black;
    user-select: none;
}

th {
    padding: 8px;
}


td:hover, table>tbody>tr>th:hover {
    background-color: orange;
    color: black;
}

td.no-hover:hover {
    background-color: transparent;
}

tr {
    height: g.$table-row-height;
    background-color: #aaaaaa;
    transition: background-color 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

thead>tr {
    background-color: #282a28!important;
    color: white;
}

table>tbody>tr>th.no-hover:hover {
    background-color: transparent;
    border-bottom: 2px solid transparent;
}

table>tbody>tr.activePlayer {
    background-color: white;

    &:hover {
        border-bottom: 2px solid g.$color-secondary!important;
    }

    &.selected {
        background-color: #7fadd9;
        border-bottom: 2px solid orange!important;

        & > td:hover, th:hover {
            background-color: #b6cce0;
        }
    }
}

table>tbody>tr.total {
    background-color: #282a28!important;
    color: white;
}