@use "../styles/global.scss" as g;

.controls {
    height: 100px;
    width: 100%;
}

.control-button-container {
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
    border: 2px solid #454545;
    background-color: #192319;
    transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
        background-color: g.$color-button-hover;
    }

    &.hovered {
        background-color: g.$color-button-hover;
    }
}

.control-button {
    height: 60px;
    width: 60px;
    color: g.$color-button-primary;
    position: relative;
}

.up-icon {
    height: 40px;
    width: 40px;
}