@use "../styles/global.scss" as g;

.main-background {
    background: transparent url("../images/main-background.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    background-attachment: fixed;
}

.quarter {
    font-size: 70px;
    font-weight: bold;
}

.countdown-timer {
    position: relative;
    font-size: 70px;
}

.td-with-actions {
    position: relative;
    overflow: hidden;
}

.pullout-container {
    height: g.$table-row-height;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.pullout-action-right-panel {
    height: 43px;
    width: 50px;
    position: absolute;
    left: 67px;
    transition: left 150ms ease-in-out;

    &.active {
        left: -5px;
    }
}

.pullout-action-left-panel {
    height: 43px;
    width: 50px;
    position: absolute;
    left: -50px;
    transition: left 150ms ease-in-out;

    &.active {
        left: 0px;
    }
}

.flash-pullout-button {
    width: 100%;
    opacity: .7;
    position: absolute;
    transition: left 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    left: 48px;

    &.active {
        left: 0px;
    }
}

.flash-pullout-percentage {
    left: 65px;
}

.pullout-button {
    width: 100%;
    opacity: .8;

    &:hover {
        opacity: 1;
    }
}

.pullout-registration {
    position: relative;
    left: -550px;
    opacity: 0;
    transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &.active {
        left: 11px;
        opacity: 1;
    }
}

.pullout-registration-button {
    rotate: 0deg;
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &.active {
        rotate: 180deg;
    }
}

.multi-state-width {
    width: 130px;
}

.score-box {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 8px;
}

.scoreboard-line {
    bottom: 20px;
    position: relative;
}

.start-button {
    padding: 20px 30px 20px 30px;
    background-color: #131834;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px 3px #3c467c;
    transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
        background-color: #1d223b;
    }
}

.shot-clock-text {
    bottom: 10px;
    position: relative;
}

.registration-input {
    &:focus {
        border-color: #98adc1;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px 3px #3c467c;
    }
}

.error-input {
    border-color: g.$color-error-primary!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px g.$color-error-secondary!important;
}